<!--The content below is only a placeholder and can be replaced.-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <a class="nav-link" routerLink= "/login" routerLinkActivate="active">LOGIN</a>
    <a class="nav-link" routerLink= "/register" routerLinkActivate="active">REGISTER</a>
    <a class="nav-link" routerLink= "/login" routerLinkActivate="active">LOGOUT</a>
  </ul>
</nav>
<router-outlet></router-outlet>-->
<!--<app-reg>
    
   </app-reg>-->
<nav class =" navbar navbar-expand-1g navbar-light btn-primary">
    
   <a class="nav-link" routerLink= "/contactlist" routerLinkActivate="active">Create Contact</a>
   <a class="nav-link" routerLink= "/contact" routerLinkActivate="active">Show Contact</a>
   </nav>
   
   <router-outlet></router-outlet>

  